{% extends "CoreBundle:Core:menu.html.twig" %}

{% block title %}
{{ parent() }}
- Index
{% endblock %}

{% block body %}
<div class="container main-content">
	<div class="row pt-4">
		<div class="col-md-6 mb-5">
			<div id="carouselExampleIndicators" class="carousel slide mw-100"
				data-ride="carousel">
				<div class="carousel-inner text-center">
					{% for image in building.images %}
					<div
						class="carousel-item {% if loop.index0 == 0 %}active{% endif %}"
						data-slide-to="{{ loop.index0 }}">
						<img class="d-block mw-100 img-responsive"
							src="{{ vich_uploader_asset(image,'imageFile') | imagine_filter('building_show') }}"
							alt="">
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="pt-4 container text-center" style="margin: auto">
				{% for image in building.images %}
				<img id="pension-image-tb-{{ loop.index0 }}"
					class="img-thumbnail {% if loop.index0 == 0 %}bg-main{% endif %}"
					src="{{ vich_uploader_asset(image,'imageFile') | imagine_filter('thumbnail') }}"
					onclick="showCarouselImage({{
loop.index0 }})">
				{% endfor %}
			</div>

		</div>

		<div class="col-md-6">
			<div
				class="card">
				<div class="card-body">
					<h4 class="card-title title-secondary">
						{{ building.name }}
						{% if isFlat and building.rented and building.forSale %}
						- <span class="rented">({{ 'gi.building.sold' | trans }})
						</span>
						{% elseif isFlat and building.rented and not building.forSale %}
						- <span class="rented">({{ 'gi.building.rented' | trans }})
						</span>
						{% endif %}
					</h4>
					<p class="card-text">
						{% if building.minimumPrice is defined %}
						{{ 'gi.building.labels.price'|trans }}
						: $
						{{ building.minimumPrice|number_format(0, '.', '.') }}
						- $
						{{ building.maximumPrice|number_format(0, '.', '.') }}
						{% elseif building.price is defined %}
						{{ 'gi.building.labels.price'|trans }}
						: $
						{{ building.price|number_format(0, '.', '.') }}
						{% endif %}
					</p>
					<p>
						{{ 'gi.building.labels.city' | trans }}
						:
						{{ building.city }}
					</p>
					<p>
						{{ building.description(app.request.getLocale())|raw }}
					</p>
				</div>
			</div>
		</div>
	</div>

</div>


{% endblock %}