{% trans_default_domain "CoreBundle" %}
{% for val in value %}
	<!--  <a href="{{ path('pension_image_delete', { entity: 'Pension', id: val.id }) }}" onclick="return confirm('{{ 'pensionImage.delete.confirm'|trans({}, 'admin') }}')")><img src="{{ vich_uploader_asset(val,'imageFile') | imagine_filter('my_thumb')}}" /></a> -->
	
	<a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-{{ val.id }}" data-featherlight-close-on-click="anywhere">
    	<img src="{{ vich_uploader_asset(val,'imageFile') }}">
	</a>
	<div id="easyadmin-lightbox-{{ val.id }}" class="easyadmin-lightbox" data-featherlight="#easyadmin-lightbox-{{ val.id }}" data-featherlight-close-on-click="anywhere">
    	<img src="{{ vich_uploader_asset(val,'imageFile') }}">
	</div>
{% endfor %}