{% extends "CoreBundle:Core:layout_includes.html.twig" %}

{% block title %}
{{ parent() }}
- Index
{% endblock %}

{% block body %}
<div id="large-screen">
	<div class="row h-100" id="photo">
		<div class="col-md-4 h-100">
			<div class="card h-100">
				<img class="card-img-top"
					src="{{ asset('bundles/core/img/index/rent.jpg') }}"
					style="height: 100%" alt="Card image">
				<div class="card-img-overlay"></div>
			</div>
		</div>
		<div class="col-md-4 h-100">
			<div class="card h-100">
				<img class="card-img-top"
					src="{{ asset('bundles/core/img/index/sell.png') }}"
					style="height: 100%" alt="Card image">
				<div class="card-img-overlay"></div>
			</div>
		</div>
		<div class="col-md-4 h-100">
			<div class="card h-100">
				<img class="card-img-top"
					src="{{ asset('bundles/core/img/index/pension.jpg') }}"
					style="height: 100%" alt="Card image">
				<div class="card-img-overlay"></div>
			</div>
		</div>
	</div>
	<div id="logo" class="text-center">
		<img
			src="{{ asset('bundles/core/img/logo_small_rounded_192x192.png') }}" />
		<div class="content-name">
			<div class="website-name">Greco Inmobiliaria</div>
			<div class="small-name">Servicios de Asesoria Inmobiliaria</div>
		</div>
	</div>
	<div id="links">
		<div class="row h-100">
			<div class="col-md-4 link">
				<a href="{{ path('flat_list_rent') }}" class=""><h1
						class="h-100">{{ 'gi.menu.flat.rent' | trans }}</h1></a>
			</div>
			<div class="col-md-4 link">
				<a href="{{ path('flat_list_sale') }}" class="h-100"><h1
						class="h-100">{{ 'gi.menu.flat.sale' | trans }}</h1></a>
			</div>
			<div class="col-md-4 link">
				<a href="{{ path('pension_list') }}" class="h-100"><h1
						class="h-100">{{ 'gi.menu.pension' | trans }}</h1></a>
			</div>
		</div>
	</div>
</div>
<div id="small-screen">
	<div id="banner" class="page-header top">
		<div class="row">
			<div id="small-logo-banner" class="col-12 text-center">
				<img src="{{ asset('bundles/core/img/logo_small_rounded_96x96.png') }}">
			</div>
		</div>
	</div>
	<div class="row text-center h-100" style="background-image: url({{ asset('bundles/core/img/index/pension.jpg') }})">
	
		<a href="{{ path('flat_list_rent') }}"
			class="col-xl-12 small-link"><h1>{{ 'gi.menu.flat.rent' | trans }}</h1></a>
		<a href="{{ path('flat_list_sale') }}"
			class="col-xl-12 small-link"><h1>{{ 'gi.menu.flat.sale' | trans }}</h1></a>
		<a href="{{ path('pension_list') }}"
			class="col-xl-12 small-link"><h1>{{ 'gi.menu.pension' | trans }}</h1></a>
		{#<a href="{{ path('flat_list_sale') }}"
			class="col-xl-12 btn btn-warning"><h1 class="w-100">{{ 'gi.menu.flat.sale' | trans }}</h1></a>
		<a href="{{ path('pension_list') }}" 
			class="col-xl-12 btn btn-success"><h1 class="w-100">{{ 'gi.menu.pension' | trans }}</h1>
		</a>#}
	</div>
</div>
{% endblock %}
