{% extends 'CoreBundle:core:layout.html.twig' %}

{% block menu %}
<nav class="navbar navbar-expand-lg navbar-light bg-light rounded" id="navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-navbar" aria-controls="my-navbar" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-md-center" id="my-navbar">
    	<ul class="navbar-nav">
    		{% if navbar.home %}
    		<li class="nav-item {% if menu == 'home' %}active{% endif %}">
    			<a class="nav-link" href="{{ path('core_homepage') }}">{{ 'gi.menu.home'|trans|upper }}<span class="sr-only"></span></a>
    		</li>
    		{% endif %}
    		{% if navbar.about %}
    		<li class="nav-item {% if menu == 'about' %}active{% endif %}">
    			<a class="nav-link" href="#">{{ 'gi.menu.about'|trans|upper }}</a>
    		</li>
    		{% endif %}
    		{% if navbar.flat %}
    		<li class="nav-item {% if menu == 'flat' %}active{% endif %}">
    			<a class="nav-link" href="{{ path('flat_list') }}">{{ 'gi.menu.flat'|trans|upper }}</a>	
    		</li>
    		{% endif %}
    		{% if navbar.pension %}
    		<li class="nav-item {% if menu == 'pension' %}active{% endif %}">
    			<a class="nav-link" href="{{ path('pension_list') }}">{{ 'gi.menu.pension'|trans|upper }}</a>
    		</li>
    		{% endif %}
    	</ul>
	</div>
</nav>
{% endblock %}