{% extends "CoreBundle:Core:menu.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
<div class="container main-content">
	<h1 class="text-center display-4 text-underlign title">{{ flat.name }}</h1>
	<div class="row">
    	<div class="col-lg-12 px-4 pt-4  border-top border-warning">
    		{#<div class="pt-4 container text-center" style="margin:auto">
    		{% for image in flat.images %}
                	<img id="pension-image-tb-{{ loop.index0 }}"class="img-thumbnail {% if loop.index0 == 0 %}bg-main{% endif %}" src="{{ vich_uploader_asset(image,'imageFile') | imagine_filter('pension_thumbnail') }}" onclick="showCarouselImage({{ loop.index0 }})">
            {% endfor %}
            </div>#}
    		<div id="carouselExampleIndicators" class="carousel slide border-rounded-secondary py-4 img-show" data-ride="carousel">
    			<div class="carousel-inner">
    			{% for image in flat.images %}
    				<div class="carousel-item pension-show-image {% if loop.index0 == 0 %}active{% endif %}" data-slide-to="{{ loop.index0 }}">
    					<img class="d-block mw-100 rounded" src="{{ vich_uploader_asset(image,'imageFile')| imagine_filter('pension_show_height') }}" alt="">
    				</div>
    			{% endfor %}
    			</div>
    			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    				<span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
    				<span class="sr-only">Previous</span>
    			</a>
    			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    				<span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
    				<span class="sr-only">Next</span>
    			</a>
    		</div>
    	</div>
    	<div class="col-lg-12 px-4 pt-4">
        	<div class="row">
        		<div class="col-lg-12 col-xl-6 order-xl-12 px-4 pt-4">
        			<h2>{{ 'gi.flat.labels.information'|trans }}</h2>
        			<div class="container">
            			<h5>{{ 'gi.flat.labels.price'|trans }}</h5>
            			<div class="row border-bottom pt-4 text-center">
            				<div class="col">{{ 'gi.flat.dailyPrice.label'|trans }}</div>
            			</div>
            			<div class="row border-top border-bottom text-center">
            				<div class="col">${{ flat.dailyPrice|number_format(0, '.', '.') }}</div>
            			</div>
        			</div>
        			<div class="pt-2">
        				<div class="container">
            				<h5>{{ 'gi.contact.title'|trans }}</h5>
            				<table>
                				<tr><td><div class="pt-2"><i class="fa fa-envelope"></i></td><td class="break-word"><a href="mailto:{{ 'gi.contact.email'|trans }}" style="text-decoration: none;color:white">{{ 'gi.contact.email'|trans }}</a></div></td></tr>
                				<tr><td><div class="pt-1" style="width:40px;"><i class="fa fa-phone"></i><i class="fa fa-whatsapp ml-1"></i></td><td><a href="tel:{{ 'gi.contact.number'|trans }}" style="text-decoration: none;color:white">{{ 'gi.contact.number'|trans }}</a></div></td></tr>
                				<tr><td><div class="pt-1"><i class="fa fa-whatsapp"></i></td><td>{{ 'gi.contact.number_second'|trans }}</div></td></tr>
                				<tr><td><div class="pt-1" style="width:40px;"><i class="fa fa-phone"></i><i class="fa fa-whatsapp ml-1"></i></td><td><a href="tel:{{ 'gi.contact.number_third'|trans }}" style="text-decoration: none;color:white">{{ 'gi.contact.number_third'|trans }}</a></div></td></tr>
                			</table>
        				</div>
        			</div>
            	</div>
            	<div class="col-lg-12 col-xl-6 order-xl-1 border-warning pt-4">
            		<h2>{{ 'gi.flat.labels.description'|trans }}</h2>
        			<div class="text-justify container mt-3 pension-description">
        				{% if app.request.getLocale() == 'fr' %}
        					{{ flat.descriptionFrench|raw }}
        				{% endif %}
        				{% if app.request.getLocale() == 'en' %}
        					{{ flat.descriptionEnglish|raw  }}
        				{% endif %}
        				{% if app.request.getLocale() == 'es' %}
        					{{ flat.descriptionSpanish|raw  }}
        				{% endif %}
        			</div>
        		</div>
        	</div>
    	</div>
	</div>
</div>
{% endblock %}