{% extends "CoreBundle:Core:menu.html.twig" %}

{% block title %}
{{ parent() }} - Index
{% endblock %}

{% block body %}
<div class="container main-content">
	<h1 class="text-center title">{{ 'gi.company.team.title'|trans }}</h1>
	<div class="row mt-5 mb-5">
		<div class="col-lg-6 col-md-12">
			<div class="row">
    			<div class="col-lg-12">
    				<div class="row">
        				<div class="col-md-6 col-sm-12 pb-4 text-center">
        					<img class="img-team img-thumbnail" src="{{ asset('bundles/core/img/team/giselle.jpg') }}"/>
        					<h5 class="">{{ 'gi.company.team.giselle.name'|trans|upper }}</h5>
        					<div class="">{{ 'gi.company.team.giselle.information'|trans|raw }}</div>
        				</div>
        				<div class="col-md-6 col-sm-12 pb-4 text-center">
        					<img class="img-team img-thumbnail" src="{{ asset('bundles/core/img/team/giselle.jpg') }}"/>
        					<h5 class="">{{ 'gi.company.team.dixiana.name'|trans|upper }}</h5>
        					<div class="">{{ 'gi.company.team.dixiana.information'|trans|raw }}</div>
        				</div>
    				</div>
    			</div>
    			<div class="col-lg-12 pb-4 text-center">
    				<img class="img-team img-thumbnail" src="{{ asset('bundles/core/img/team/giselle.jpg') }}"/>
    				<h5 class="">{{ 'gi.company.team.fabiola.name'|trans|upper }}</h5>
    				<div class="">{{ 'gi.company.team.fabiola.information'|trans|raw }}</div>
    			</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12 text-justify">
			{{ 'gi.company.team.information'|trans|raw }}
		</div>
	</div>
</div>
{% endblock %}