{% block body %}

{% for pension in pensions %}
<div class="title">
	{{ pension.title }}
</div>
<div class="price">
	{{ pension.minimumPrice }}
</div>
<div class="city">
	{{ pension.city }}
</div>
<div class="description">
	{{ pension.descriptionSpanish|raw  }}
	<p>
		{{ 'gi.publish.visitUsPension' | trans }}
	</p>
	<p>
		{{ 'gi.publish.contactUs' | trans }}
		
	</p>
</div>
{% endfor %}
{% endblock %}