<div class="col-xl-4 col-md-6 col-sm-12">

	<div class="card">
		<img class="card-img-top"
			src="{{ vich_uploader_asset(building,'imageFile') | imagine_filter('building_thumbnail') }}"
			alt="Card image" style="height: 200px" />
		<div class="card-body">
			<h4 class="card-title title-secondary">
				{{ building.name }}
				{% if isFlat and building.rented and building.forSale %}
				- <span class="rented">({{ 'gi.building.sold' | trans }})
				</span>
				{% elseif isFlat and building.rented and not building.forSale %}
				- <span class="rented">({{ 'gi.building.rented' | trans }})
				</span>
				{% endif %}
			</h4>
			<p class="card-text">
				{% if building.minimumPrice is defined %}
				{{ 'gi.building.labels.price'|trans }}
				: $
				{{ building.minimumPrice|number_format(0, '.', '.') }}
				- $
				{{ building.maximumPrice|number_format(0, '.', '.') }}
				{% elseif building.price is defined %}
				{{ 'gi.building.labels.price'|trans }}
				: $
				{{ building.price|number_format(0, '.', '.') }}
				{% endif %}
			</p>
			<p>
				{{ 'gi.building.labels.city' | trans }}
				:
				{{ building.city }}
			</p>
			<p>
				{{ building.description(app.request.getLocale())|length > 150 ? building.description(app.request.getLocale())|striptags|truncate(150, true, "...")|raw : building.description(app.request.getLocale())|raw }}
			</p>
			{% if isFlat %}
			<a href="{{ path('flat_show', {'id': building.id }) }}"
				class="stretched-link"> </a>
			{% else %}
			<a href="{{ path('pension_show', {'id': building.id }) }}"
				class="stretched-link"> </a>
			{% endif %}
		</div>
	</div>
</div>

